$orange-1: #F7931E;
$orange-1-dark: #F7931E;
$orange-1-light: #F7931E;


$orange-2: #F2AD1A;
$orange-2-dark: #D99506;
$orange-2-light: #FCBD38;


$blue-1: #1382B1;
$blue-1-dark: #066B96;
$blue-1-light: #309FCF;


$white-1: #F7F5F2;
$white-2: #EBE7E4;
$white-3: #DEDAD5;

$black-1: #141413;
$black-2: #21201F;
$black-3: #30302F;

$gray-7: #707070;
$gray-8: #808080;
$gray-9: #909090;



